<h1><%= @camper.name %></h1>
<h3>Age: <%= @camper.age %></h3>

<h2>Activities: </h2>
<ul>
    <% @camper.activities.each do |activity| %>
    <li>
    <%= activity.name %><br>
    </li>
<% end %>
</ul>
